/* Use navigation bar color for emphasized words */
.emphasis{
	color:#2c3e50;
}

.baseOther{
    color:#18bc9c;
}

/* Resize and center images */
.small{
	min-height:60px;
	max-height:180px;
	margin-left:auto;
	margin-right:auto;
}



/* Resize columns to fit four */
.col-sm-4{
	width:25%;
}

/* Centered text in nav bar color  */
.type_text{
	color:#fff;
	text-align:center;
}

/* Center text */
.center{
	text-align:center;
}

.nocaps{
	text-transform:none;
}

#form{
        border-radius:3px;
        -webkit-box-shadow:none;
	box-shadow:none;
}

.normal{
	font-weight:normal;
	text-transform:none;
}

.imgBorder{
	border-width:5px;
	border-color:white;
}

.mailer{
	color:white;
}
.mailer:hover{
	color:#18bc9c;
}

.frontLink{
	color:white;
}
.frontLink:hover{
	text-decoration:underline;
	color:white;
}

.navLink{
	color:white;
	size:small;
}
.navLink:hover{
	text-decoration: underline;
	color:white;
}

button.btn.btn-default{
	background-color:#2c3e50;
	border:none;
	text-transform: uppercase;
	margin: 5px;
}
button.btn.btn-default:hover{
	color:#18bc9c;
}
	
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

option{
	color:#2c3e50;
}